footer {
    background-color: #2B2862;
    height: auto;
    padding-top: 40px;
    color: white;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 40px;
}


.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-bottom {
    background-color: #433F87;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom span {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

#footer_items {

    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
    text-align: center;
}

#copyright {
    color: white;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}